#!/usr/bin/env ruby

compile 'css/*' do
  filter :rainpress
end

compile 'js/*' do
  #filter :uglify_js
end

compile 'files/*' do
  case item[:extension]
    when 'md'
      filter :kramdown
      layout 'file'
    when 'gitignore'
  end
end

compile '*' do
  if item.binary?
  else
    case item[:extension]
      when 'md'
        filter :kramdown
        layout 'default'
      when 'erb'
        filter :erb
        layout 'default'
    end
  end
end



route 'js/*' do
    item.identifier.chop + '.' + item[:extension]
end

route 'css/*' do
    item.identifier.chop + '.' + item[:extension]
end

route '*' do
  if item.binary? 
    if item[:extension] == 'gitignore'
      item.identifier[0..-5] + '.gitignore'
    else
      item.identifier.chop + '.' + item[:extension]
    end
  else
    item.identifier + 'index.html'
  end
end

layout '*', :erb
