<% render "default" do %>
    <div class="file">
        <h1><%= item[:title] %></h1>
        <p class="small muted"><%= item[:tags].join(', ') %></p>
        <article>
            <%= yield %>
        </article>
        <section>
          <pre id="gitignore"></pre>
          <p class="text-center"><a href=".gitignore" class="btn btn-large btn-success" download><i class="icon-download icon-white"></i> Download</a></p>
        </section>
    </div>
    <script>
      $(document).ready(function() {
        $.ajax({
          url : ".gitignore",
          dataType: "text",
          success : function (data) {
            $("#gitignore").html(data);
          }
        });
      });
    </script>
<% end %>
